<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Athena | {% block title %}Athena{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'forum/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'forum/bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'forum/style.css' %}" rel="stylesheet">

  </head>

  <body style = "background-color: #CEE8F5; padding: 7.5px;">

    <div align = "center">
        <div class = "text-left thumbnail" style = "border: 1px solid #cccccc; width:364px; margin:5px; background-color: white">
            <h2 class = "thumbnail blue-head text-center">{% block header %}{% endblock %}</h2>

            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src = "{% static 'forum/bootstrap/js/bootstrap.js' %}" ></script>
  </body>
</html>
