{% extends "users_base.html" %}

{% block forum%}
<div class = "text-center thumbnail blue-head">
  <h3>Welcome to your profile page, {{ user.username }} from {{ profile.school }}!</h3>
</div>
<div style = "margin: 20px;">
  <div class = "text-center thumbnail gray-head">
    <h4>Questions asked thus far:</h4>
  </div>
  <hr/>
  <ul>
    {% for question in user.questions %}
      <li class = "thumbnail question">
        <a href="{% url 'forum:detail' question.id %}">{{ question.question_text }}</a>
      </li>
    {% endfor %}
  </ul>
  <div class = "text-center thumbnail gray-head">
    <h4>Questions answered thus far:</h4>
  </div>
  <hr/>
</div>
{% endblock%}