.blue-head{
	background-color: #4DA9D6;
	color: white;
	text-shadow: -1px 0 #9999aa, 0 1px #9999aa, 1px 0 #9999aa, 0 -1px #9999aa;
	letter-spacing: 1px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 1px solid #4DA9D6;

}

.blue-head.link:hover{
	background-color: #3E87AB;
	border: 1px solid #3E87AB;
	color: ;
}

hr{
	margin: 10px 0;
}

.gray-head{
	background-color: #e5e5e5;
	color: #888888;
	letter-spacing: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.gray-glyph{
	opacity: .6;
}

.gray-glyph:hover{
	opacity: .8;
}

.question{
	margin:10px;
}

.hidden-link{
	text-decoration: none;
}

.hidden-link:hover{
	text-decoration: none;
}

.linked:hover{
	color: #4DA9D6;
}

.square-crop {
    width: 85px;
    height: 85px;
    overflow: hidden;
    margin: 5px;
}

.square-small {
	width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 5px;
}

.no-bullet{
	list-style-type: none;
}