{% extends "base.html" %}

{% block content %}
<h1>Create a new Study Group!!</h1>
<form action="{% url 'groups:add_group' %}" method="POST">
{% csrf_token %}
	<div>
		<input class="inputField" type='text' value='' name='group_name' placeholder='Name'/><br>
		<input class="inputField" type='text' value='' name='topic' placeholder='Topic'/><br>
		{% for type in group_choices %}
		<input type="radio" name="type" value={{ type }}> {{ type }}
      	{% endfor %}
		{% if all_users %}
			{% for user in all_users %}
				<input type="checkbox" name="members" id="option{{user.id}}" value={{ user.id }} />
				<label for="option{{user.id}}">{{user.username}}</label><br />
			{% endfor %}
		{% else %}
			<p>no users</p>
		{% endif %}
	</div>
		<input type="submit" value="Make Group" />
</form>
{% endblock %}