{% extends "forum_base.html" %}

{% block forum %}
	<a href="/forum/"><span class=" icon-arrow-left" aria-hidden="true"></span></a>
	<h3 class = "text-center">{{ question.question_text }}</h3>
	<hr/>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<ul>
	{% for answer in question.answer_set.all %}
	    
	    <li class = "question" >{{ answer }}</li>
	{% endfor %}
	</ul>
	<hr/>
	<form action="{% url 'forum:answer' question.id %}" method="post">
	{% csrf_token %}
		<div>
	        <input class="inputField" type='text' value='' name='answer'/>
	        <br/>
	        <input class = "btn" type='submit' name='submit' value='Answer'/>
	    </div>
	</form>

{% endblock %}
