<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<table>
{% for answer in question.answer_set.all %}
        <tr>
         <td>{{ answer }}</td>
        </tr>
{% endfor %}
</table>

<form action="{% url 'forum:answer' question.id %}" method="post">
{% csrf_token %}
	<div>
           <input class="inputField" type='text' value='' name='answer'/>
           <br/><br/>
           <input type='submit' name='submit' value='Answer'/>
        </div>
</form>
