{% extends "forum_base.html" %}

{% block forum %}
  <div class = "text-center thumbnail blue-head">
    <h2> Ask a question! </h2>
    <form action="{% url 'forum:add_question' %}" method="POST">
      {% csrf_token %}
      <div>
        <input class="inputField" type='text' value='' name='question'/>
      </div>
    </form>
  </div>
  {% if latest_question_list %}
    <ul>
      {% for question in latest_question_list %}
        <h4><a class = "hidden-link" href="{% url 'forum:profile' question.user.id %}"><i>{{ question.user }}</i></a></h4>
        <li class = "thumbnail question" data-toggle="collapse" href="#{{question.id}}" aria-expanded="false" aria-controls="{{question.id}}">
          {{ question.question_text }}
        </li>
        <div class="collapse question" id="{{question.id}}">
            <div class="well">
              {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
              <ul>
              {% for answer in question.answer_set.all %}
                  <li class = "question" >{{ answer }}</li>
              {% endfor %}
              </ul>
              <hr/>
              <form action="{% url 'forum:answer' question.id %}" method="post">
              {% csrf_token %}
                <div>
                      <input class="inputField" type='text' value='' name='answer'/>
                      <br/>
                      <input class = "btn" type='submit' name='submit' value='Answer'/>
                </div>
              </form>
            </div>
          </div>
      {% endfor %}
    </ul>
  {% else %}
    <p>No forums are available.</p>
  {% endif %}

{% endblock %}
