{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<h1>Athena says... hello {{ user.username }}!</h1>
<a href="/logout/">Logout</a><br />
{% else %}
<h1>Athena says... hello world!</h1>
<a href="/register/">Sign up</a><br />
<a href="/login/">Log in</a>
{% endif %}
{% if latest_question_list %}

	<ul>
		{% for question in latest_question_list %}
			<li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<p>No forums are available.</p>
{% endif %}
{% endblock %}