{% extends "base.html" %}

{% block content %}
<div class = "container-fluid" style = "padding:10px">
  <div class = "row-fluid">

	<!-- sidebar -->
    <div class = "span4">

      <!-- profile box -->
      <div class = "thumbnail text-center" style = "margin-bottom:10px; background-color: white">
          <div class = "row-fluid">
            <div class = "span4">
            	<h4>Look how attractive you are</h4>
              	<!-- ADD USER IMAGE -->
              	<img src="doge.jpg" width="75" height="75">
            </div>
          </div>
      </div>
    </div>
    <!-- end sidebar -->


  	<div class = "span8 thumbnail" style = "background-color: white">
      <div class = "text-center thumbnail blue-head">
        <h2>Welcome to your profile page, {{ user.username }}!</h2>
      </div>
    </div>
 </div>
</div>

{% endblock %}
